[build]
  command = "NODE_ENV=production npm install"

[build.processing.images]
  compress = true

[[redirects]]
  from = "/"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 404

[[headers]]
  for = "/*"

  [headers.values]
    content-security-policy = "default-src 'self'; style-src 'self' 'unsafe-inline'"

    for = "/*"
      referrer-policy = "no-referrer"
      x-content-type-options = "nosniff"
      x-frame-options = "DENY"
      x-xss-protection = "1; mode=block"
