@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/raleway-light.woff2");
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/raleway-medium.woff2");
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/raleway-bold.woff2");
}
